html, body {
  border: 0px;
  margin: 0px;
  font-family: Garamond sans-serif;
}

h1 {
  font-size: 36px;
  text-align: center;
}

.header {
  height: 400px;
  width: 100%;
  background-color: rgb(8, 86, 142);
}

.container {
  max-width: 940px;
  margin: 0 auto;
}
